body {
    margin: 0;
    background-color: rgb(235, 228, 228);
}
header{
    background-color: rgb(235, 129, 8);
    padding: 1em;
}
.header_text{
    text-align: center;
}
.form_content{
    text-align: center;
    font-weight:bold;
}
.items{
    margin: 15px;
}
.inputs{
    width: 500px;
}